body{
   font-family: arial,sans-serif;
   border: none;
   background-color: rgba(255, 255, 255, 0.742);
   display: flex;
   flex-direction: column;
   align-items: center;
}
.weatherForm{
  margin: 20px;
}
.cityInput{
   padding: 10px;
   font-size: 2rem;
   font-weight:bold;
   border: 2px solid hsla(0, 0%, 29%, 0.216);
   margin: 10px;
   border-radius: 10px;
   width:300px ;
}
button[type="submit"]{
  padding: 10px 20px;
  font-size: 2rem;
  font-weight: bold;
  border: none;
  margin: 10px;
  border-radius: 10px;
  background-color: rgba(27, 231, 24, 0.738);
  color: white;
  cursor: pointer;
}
button[type="submit"]:hover{
   background-color: hsl(90, 77%, 55%);
}

.card{
  background: linear-gradient(180deg,hsla(210, 100%, 75%, 0.827),hsl(40, 100%, 75%));
  padding: 50px;
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.529);
  min-width: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1{
 
  margin-top: 0;
  margin-bottom: 25px;
}
p{
  font: size 1.5em;
  margin: 5px 0;
}
.cityDisplay, .tempDisplay{
  font-size: 3.5rem;
  font-weight: bold;
  color: hsla(0, 0%, 0%, 0.759);
  margin-top:25px;
}
.humidityDisplay{
  font-weight: bold;
  margin-bottom: 25px;
}
.descDisplay{
  font-style: italic;
  font-weight: bold;
  font-size: 2rem;
}
.weatherEmoji{
  margin: 0;
  font-size: 7.5rem;
}
.errorDisplay{
  font-size: 2.5rem;
  font-weight: bold;
  color: hsl(0, 0%, 25%);
}