
      body{
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(222, 222, 222);
      }
      h1{
        color: rgb(26, 99, 216);
      }
      form{
        background-color: rgb(251, 251, 251);
        text-align: center;
        max-width: 350px;
        margin: auto;
        padding: 25px;
        border-radius:10px;
        box-shadow: 5px 5px 15px black;
      }
      
      #txt{
          width: 50%;
          text-align: center;
          font-size: 2em;
          border: 2px solid black;
          border-radius: 4px;
          margin-bottom: 15px;

      }
      label{
        font-size: 1.5em;
        font-weight: bold;
      }
      button{
        margin-top: 15px;
        background-color: rgb(231, 90, 90);
        font-size: 1.5em;
        border-radius: 5px;
        border: none;
        padding: 10px 15px;
        color: white;
        cursor: pointer;
      }
      button:hover{
        background-color: rgba(255, 0, 0, 0.997);
      }
      #res{
       
        font-size: 1.75em;
        font-weight: bold;
      }
